# {{title}}

Based on {{catalog.title}}

## Name of Product/Version
{{product.name}}{{#if product.version}} {{product.version}}{{/if}}

## Report Date
{{ now }}

{{#if product.description}}
## Product Description
{{product.description}}
{{/if}}

## Contact Information
{{#if contact.name}}Name: {{contact.name}}{{/if}}
{{#if contact.address}}Address: {{contact.address}}{{/if}}
Email: {{contact.email}}
{{#if contact.phone}}Phone: {{contact.phone}}{{/if}}

## Notes
{{notes}}

## Terms
The terms used in the Conformance Level information are defined as follows:
{{#each catalog.terms as |catalog-term|}}
- **{{catalog-term.label}}**: {{catalog-term.description}}
{{/each}}

{{#each catalog.chapters as |catalog-chapter|}}
## {{chapterOrTableTitle catalog-chapter}} {{catalog-chapter.order}}: {{catalog-chapter.label}}

{{#with (lookup ../chapters catalog-chapter.id) as |data-catagory|}}
{{#if data-catagory.notes}}
Notes: {{data-catagory.notes}}
{{/if}}

{{#if data-catagory.criteria}}
| Criteria | Conformance Level | Remarks and Explanations |
| --- | --- | --- |
{{#each data-catagory.criteria as |data-criteria|}}
| {{data-criteria.num}} {{catalogCriteriaLabel catalog-chapter.id data-criteria.num}} | <ul>{{#each data-criteria.components as |data-components|}}<li>**{{catalogComponentLabel data-components.name}}:** {{levelLabel data-components.adherence.level}}</li>{{/each}} </ul> | <ul>{{#each data-criteria.components as |data-components|}}<li>**{{catalogComponentLabel data-components.name}}:** {{data-components.adherence.notes}}</li>{{/each}} </ul> |
{{/each}}

{{/if}}
{{/with}}
{{/each}}
