<!DOCTYPE html>
<html lang="{{catalog.lang}}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
{{#if product.description}}
  <meta name="description" content="{{product.description}}">
{{/if}}
</head>
<body>
  <h1>{{title}}</h1>

  Based on {{catalog.title}}

  <h2>Name of Product/Version</h2>
  {{product.name}}{{#if product.version}} {{product.version}}{{/if}}

  <h2>Report Date</h2>
  {{ now }}

  {{#if product.description}}
    <h2>Product Description</h2>
    {{product.description}}
  {{/if}}

  <h2>Contact Information</h2>
  {{#if author}}
    <h3>Author Information</h3>
    {{#if author.name}}- Name: {{author.name}}{{/if}}
    {{#if author.company_name}}- Company: {{author.company_name}}{{/if}}
    {{#if author.address}}- Address: {{author.address}}{{/if}}
    {{#if author.email}}- Email: {{author.email}}{{/if}}
    {{#if author.phone}}- Phone: {{author.phone}}{{/if}}
    {{#if author.website}}- Website: {{author.website}}{{/if}}
  {{/if}}
  {{#if vendor}}
    <h3>Vendor Information</h3>
    {{#if vendor.name}}- Name: {{vendor.name}}{{/if}}
    {{#if vendor.company_name}}- Company: {{vendor.company_name}}{{/if}}
    {{#if vendor.address}}- Address: {{vendor.address}}{{/if}}
    {{#if vendor.email}}- Email: {{vendor.email}}{{/if}}
    {{#if vendor.phone}}- Phone: {{vendor.phone}}{{/if}}
    {{#if vendor.website}}- Website: {{vendor.website}}{{/if}}
  {{/if}}

  {{#if notes}}
    <h2>Notes</h2>
    {{notes}}
  {{/if}}

  {{#if evaluation_methods_used}}
    <h2>Evaluation Methods Used</h2>
    {{evaluation_methods_used}}
  {{/if}}

  <h2>Applicable Standards/Guidelines</h2>
  This report covers the degree of conformance for the following accessibility standard/guidelines:

  | Standard/Guideline | Included In Report |
  | --- | --- |
  {{#each catalog.standards as |catalog-standard|}}
    | [{{catalog-standard.label}}]({{catalog-standard.url}}) | {{standardsIncluded catalog-standard.chapters}} |
  {{/each}}

  <h2>Terms</h2>
  The terms used in the Conformance Level information are defined as follows:
  {{#each catalog.terms as |catalog-term|}}
    - **{{catalog-term.label}}**: {{catalog-term.description}}
  {{/each}}

  {{#each catalog.standards as |catalog-standard|}}
    <h2>{{catalog-standard.report_heading}}</h2>
    {{#each catalog-standard.chapters as |catalog-standard-chapter|}}
      {{#with (catalogChapter catalog-standard-chapter) as |catalog-chapter|}}
        <h3>{{catalog-chapter.label}}</h3>

        {{#with (lookup ../../../chapters catalog-chapter.id) as |data-category|}}
          {{#if data-category.notes}}
            Notes: {{data-category.notes}}
          {{/if}}

          {{#if data-category.criteria}}
            | Criteria | Conformance Level | Remarks and Explanations |
            | --- | --- | --- |
            {{#each data-category.criteria as |data-criteria|}}
              | [{{data-criteria.num}} {{catalogCriteriaLabel catalog-chapter.id data-criteria.num}}]({{catalogCriteriaURL catalog-chapter.id data-criteria.num catalog-standard.url}}) | {{#if data-criteria.components}}<ul>{{#each data-criteria.components as |data-components|}}{{#if data-components.adherence.level}}<li>{{catalogComponentLabel data-components.name}}{{levelLabel data-components.adherence.level}}</li>{{/if}}{{/each}} </ul>{{/if}} | {{#if data-criteria.components}}<ul>{{#each data-criteria.components as |data-components|}}{{#if data-components.adherence.notes}}<li>{{catalogComponentLabel data-components.name}}{{data-components.adherence.notes}}</li>{{/if}}{{/each}} </ul>{{/if}} |
            {{/each}}

          {{/if}}
        {{/with}}
      {{/with}}
    {{/each}}
  {{/each}}

  {{#if legal_disclaimer}}
    <h2>Legal Disclaimer{{#if vendor.company_name}} ({{vendor.company_name}}){{/if}}</h2>
    {{legal_disclaimer}}
  {{/if}}
</body>
</html>
